@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer 

@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    var thisUserId = userManager.GetUserId(User);
}
@model User
<div style="overflow-x: hidden; overflow-y: scroll;width: auto; height: 500px;  padding: 5px; border: solid 1px black;" class="layer mt-5">
    <div id="result"></div>
</div>

@if (User.Identity.IsAuthenticated)
    {
        <div class="mt-3">
            <a onclick="openForm('@Model.Id')" style="cursor: pointer">@Localizer["Message"]</a>
        </div>
        <div id="answerdiv-@Model.Id" style="display:none">
            <input class="form-control" id="answertext-@Model.Id">
            <input type="hidden" id="userId-@Model.Id" value="@userManager.GetUserId(User)">
            <input  class="btn btn-dark mb-5 mt-2" type="button" id="postComment" onclick="sendMessage('@Model.Id')" value="@Localizer["Submit"]"/>
        </div>
    }