@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer 

@model List<User>

<h2>@Localizer["Headers"]</h2>
<div class="row">
    <table class="table">
        <tr>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["BirthDate"]</th>
            <th>@Localizer["CreatedAt"]</th>
            <th>@Localizer["User"]</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.Email</td>
                <td>
                    @if (user.BirthDate != null)
                    {
                        @user.BirthDate.Value.ToShortDateString()
                    }
                </td>
                <td>@user.CreatedAt.ToShortDateString()</td>
                <td>
                    <a asp-action="Index" asp-controller="Account" asp-route-id="@user.Id">@Localizer["Profile"]</a>
                </td>
            </tr>
        }
    </table>
</div>