@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer 

@model MyChat.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_Layout";
}

<h2>@Localizer["Headers"]</h2>

<div class="row">
    <div class="col-md-5">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Email">@Localizer["Email"]</label>
                <input class="form-control" asp-for="Email" type="email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName">@Localizer["UserName"]</label>
                <input class="form-control" asp-for="UserName" type="text">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName">@Localizer["FirstName"]</label>
                <input class="form-control" asp-for="FirstName" type="text">
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate">@Localizer["BirthDate"]</label>
                <input class="form-control" asp-for="BirthDate" type="date">
                <span asp-validation-for="BirthDate"></span>
            </div>
            <div class="form-group">
                <label asp-for="File">@Localizer["File"]</label><br/>
                <input class="form-control-file" asp-for="File"/>
                <span asp-validation-for="File"></span>
            </div>
            <input type="hidden" asp-for="PhotoPath">
            <input type="hidden" asp-for="Id">
            <input type="hidden" value="@Model.Id"/>
            <input type="submit" value="@Localizer["Save"]" class="btn btn-outline-dark">
            <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-outline-danger">@Localizer["Password"]</a>
        </form>
    </div>
</div>
